
body {
	background-color: #464646;
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

header{
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	margin-bottom: 8px;
	color: #DADADA;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em; 
}

hr {
    border: none;
    background-color: #393939;
    color: #393939;
    height: 1px;
    margin: 15px 0px;
    padding: 0px;
}

strong {
	font-weight: bold;
}

pre {
	font-family:monospace;
	display: inline-block;
}

#logo img {
	float: left;
}

#logo h1{
	margin-left: 5px;
	float:left;
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
}

.handle{
	background-color: #4ba2e8;
	height: 20px;
}


#tools {
	position: absolute;
	z-index: 2;
}

#world{
	background-color: #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	min-height: 500px;
}

#map-world {
	min-height: 400px;
}

#join-btn {
	
}
#create-btn {
	margin-left: 3px;
	float:left;
}

.navbar-inner {
	border-radius: 0;
}

footer p {
	color: #B9B9B9;
}

/* Large desktop */
@media (min-width: 1200px) {

	#page{
		margin-top: 80px;
	}
}

@media (min-width: 980px) and (max-width: 1999px) {

	#page{
		margin-top: 80px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	#world-search{
		float: none;
	}

	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}

	#page{
		margin-top: 80px;
	}

	#create-btn {
		margin-left: 15px;
		margin-bottom: 15px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	#world-search{
		float: none;
	}

	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}

	#page{
		margin-top: 60px;
	}

	#map-canvas {
		margin-top: 30px;
	}

	#create-btn {
		margin-left: 15px;
		margin-bottom: 15px;
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

	#world-search{
		float: none;
	}

	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}

	#page{
		margin-top: 60px;
	}

	#create-btn {
		margin-left: 15px;
		margin-bottom: 15px;
	}
}