@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
	background-color: #e8e8e8;
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
	padding-top: 60px;
}

header{
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	margin-bottom: 8px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em; 
}

hr {
    border: none;
    background-color: #4ba2e8;
    color: #4ba2e8;
    height: 1px;
    margin: 15px 0px;
    padding: 0px;
}

strong {
	font-weight: bold;
}

pre {
	font-family:monospace;
	display: inline-block;
}

span {
	line-height: 30px;
}

nav {
	min-width: 1245px;
	overflow: hidden;
}

nav ul{
	background-color: #363636;
	height: 53px;
	width: 100%;
	margin-bottom: 20px;
	color: #e4e4e4;
}

nav ul li {
	float: left;
	line-height: 53px;
	position: relative;
}

.tool{
	width: 51px;
	height: 53px;
	display: block;
}

.tool:hover, nav ul li .hover {
	border-bottom: 3px solid #4ba2e8;
}

nav ul li a#draw-rect {
	background-image: url('images/icon_rect.jpg');
}

nav ul li a#draw-line {
	background-image: url('images/icon_brush.jpg');
}

nav ul li a#draw-triangle {
	background-image: url('images/icon_tri.jpg');
}

nav ul li a#draw-ellipse {
	background-image: url('images/icon_ellipse.jpg');
}

nav ul li a#draw-polygon {
	background-image: url('images/icon_polygon.jpg');
}

nav ul li a#draw-rect:hover {
	background-image: url('images/icon_rect_hov.jpg');
}

nav ul li a#draw-line:hover {
	background-image: url('images/icon_brush_hov.jpg');
}

nav ul li a#draw-triangle:hover {
	background-image: url('images/icon_tri_hov.jpg');
}

nav ul li a#draw-ellipse:hover {
	background-image: url('images/icon_ellipse_hov.jpg');
}

nav ul li a#draw-polygon:hover {
	background-image: url('images/icon_polygon_hov.jpg');
}

.rounded {
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

#theCanvas {
	background-color: #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1); 
}

#theCanvas:hover {
	cursor: crosshair;
}

#logo {
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 90px;
	height: 40px;
	padding: 0;
	margin: 0 10px 0 0;
}

.sep {
	border-right: 1px solid #4a4a4a;
	padding-left: 5px;
	padding-right: 5px;
}

.btn {
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding: 5px;
	background-color: #202020;
	color: #e4e4e4;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	outline: none;
}

.btn:hover {
	background-color: #4ba2e8;
	cursor: pointer;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	z-index: -9999;
	opacity: 0;
}

.modal .content {
	position: absolute;
	width: 400px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -180px;
	color: #dfdfdf;
	background-color: #202020;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}

.modal:target {
	opacity: 1;
	z-index: 9999;
}

.close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #0691e6;
	color: #FFF;
	position: absolute;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	right: -10px;
	top: -10px;
}

.close:hover{
	background-color: #fff;
	color: #000000;
}

#join-setting img {
	vertical-align: middle;
	display: inline-block;
	line-height: 53px;
}

#color-picker {
	width: 256px;
	height: 256px;
	cursor: crosshair;
}

.small-picker {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	text-indent: -9999px;
	background-color: #000;
}

.large-picker {
	width: 80px;
	height: 80px;
}

#color-preview, #color-picked {
	background-color: #FFF;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
}

.column {
	position: relative;
	float: left;
	margin-left: 20px;
	top: 0;
	display: inline-block;
}

.row {
	margin-top: 20px;
	clear: both;
}

.column:first-child {
	margin-left: 0;
} 

#picker .btn {
	background-color: #0073d9;
}

#picker .btn:hover{
	background-color: #0087ff;
}